#hyde-docs {
	.prose {
		h1, h2, h3, h4, h5, h6 {
			width: fit-content;

			&:hover, &:focus {
				.heading-permalink {
					opacity: 0.75;
					filter: grayscale(100%);
					transition: opacity 0.1s ease-out;
				}
			}

			.heading-permalink {
				opacity: 0;
				visibility: hidden;
				margin-left: 0.25rem;
				transition: opacity 0.3s ease;
				padding: 0 0.25rem;
				scroll-margin: 1rem;
				&:hover, &:focus {
					opacity: 1;
					visibility: visible;
					filter: unset;
				}
			}
		}
	}
}
