#sidebar-toggle {
	position: relative;
	display: inline-block;
	width: 2rem;
	height: 2rem;

	span.icon-bar {
		display: block;
		width: 20px;
		height: 2.375px;
		background-color: black;
		position: absolute;
		left: 5.5px;

		&:first-child {
			top: 9px;
		}

		&:nth-child(2),
		&:nth-child(3) {
			top: calc(9px + 6px);
			transform-origin: center;
		}

		&:last-child {
			top: calc(9px + 12px);
		}

		transition: all 0.3s ease-out;
	}

	&.active {
		span.icon-bar {
			&:first-child {
				opacity: 0;
			}

			&:nth-child(2) {
				transform: rotate(45deg);
			}

			&:nth-child(3) {
				transform: rotate(-45deg);
			}

			&:last-child {
				opacity: 0;
			}
		}
	}
}

.dark #sidebar-toggle span.icon-bar {
	background-color: invert($color: #000);
	height: 2px;
}
