.table-of-contents {
	padding-bottom: 0.75rem;

	>li {
		margin-top: 0.15rem;
		margin-bottom: 0.35rem;
	}

	ul {
		padding-left: 0.5rem;
	}

	a {
		display: block;
		padding-left: 2rem;
		margin-left: -2rem;
		opacity: 0.825;

		&::before {
			content: "#";
			font-size: 75%;
			opacity: 0.5;
			margin-right: 4px;
			transition: opacity 0.3s ease-in-out;
		}

		&:hover {
			&::before {
				opacity: 1;
			}

			opacity: 1;
			transition: opacity,
			background 0.3s ease-in-out;
			background-color: rgba(221, 221, 221, 0.5);
		}
	}
}