/**
 * Core Stylesheet for the HydePHP Frontend
 * 
 * @package     HydePHP - HydeFront
 * @version     v2.x (HydeFront)
 * @author      Caen De Silva
 */

@use 'sass/hyde-docs';
@use 'sass/markdown/torchlight';
@use 'sass/markdown/blockquotes';
@use 'sass/markdown/codeblocks';
@use 'sass/utilities/alpine';


/* Scroll bar css */

::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
    background:#c3b5fd;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #c3b5fd
  }
