/**
 * Core Stylesheet for the HydePHP Frontend
 * 
 * @package     HydePHP - HydeFront
 * @author      Caen De Silva
 *
 * @see app.css where TailwindCSS is included, to declare your own styles.
 */

@use 'sass/HydeDocs';
@use 'sass/HydeSearchMenu';
@use 'sass/MarkdownFeatures';

/* Base styles for compatibility in case the Tailwind styles are not loaded */

.post-article {
	max-width: 960px;
	#byline {
		margin-bottom: 1em;
		time, address, dl {
			display: inline;
			dt, dd {
				display: inline;
			}
		}
	}
	h2:first-child {
		margin-top: 0;
	}
}

#sidebar-navigation {
	li.list-item-active > a {
		border-left: 4px solid #5956eb;
		padding-left: calc(1rem - 4px);
		margin-left: -1rem;
		padding-top: 0.25rem;
		padding-bottom: 0.25rem;
		color: #5956eb;
	}
}

.dark {
	#sidebar-navigation li.list-item-active a {
		color: #fff;
	}
}

#documentation-sidebar {
	@media (max-width: 360px) {
		width: 100%;
    }
}

#documentation-content {
    max-width: 100vw;
    @media (min-width: 768px) {
        max-width: calc(100vw - 20rem);
    }

    code {
        max-width: 80vw;
        overflow-x: auto;
        display: inline-block;
        vertical-align: top;
    }

	pre {
		code {
			display: block;
			max-width: unset;
		}
	}
}

#sidebar-backdrop {
	width: 100vw;
	height: 100vh;
	background: rgba(128, 128, 128, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	cursor: pointer;
}

.sidebar-button-wrapper {
	&.open {
		button.close {
			display: none;
		}
	}
	&.closed {
		button.open {
			display: none;
		}
	}
}

.theme-icon {
	display: inline-block;
	width: 1.25rem;
	height: 1.25rem;
	background-image: url("data:image/svg+xml,%3Csvg%20fill%3D%22currentColor%22%20viewBox%3D%220%200%2020%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M17.293%2013.293A8%208%200%20016.707%202.707a8.001%208.001%200%201010.586%2010.586z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}

.dark {
	.theme-icon {
		background-image: url("data:image/svg+xml,%3Csvg%20fill%3D%22%23FFFFFF%22%20viewBox%3D%220%200%2020%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M10%202a1%201%200%20011%201v1a1%201%200%2011-2%200V3a1%201%200%20011-1zm4%208a4%204%200%2011-8%200%204%204%200%20018%200zm-.464%204.95l.707.707a1%201%200%20001.414-1.414l-.707-.707a1%201%200%2000-1.414%201.414zm2.12-10.607a1%201%200%20010%201.414l-.706.707a1%201%200%2011-1.414-1.414l.707-.707a1%201%200%20011.414%200zM17%2011a1%201%200%20100-2h-1a1%201%200%20100%202h1zm-7%204a1%201%200%20011%201v1a1%201%200%2011-2%200v-1a1%201%200%20011-1zM5.05%206.464A1%201%200%20106.465%205.05l-.708-.707a1%201%200%2000-1.414%201.414l.707.707zm1.414%208.486l-.707.707a1%201%200%2001-1.414-1.414l.707-.707a1%201%200%20011.414%201.414zM4%2011a1%201%200%20100-2H3a1%201%200%20000%202h1z%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
	}
}

/**
 * Styles for Torchlight
 *
 * Uses the styles from https://torchlight.dev/docs/css
 */
 
 .torchlight-enabled {
	pre {
		border-radius: 0.25rem;
		margin-top: 1rem;
		margin-bottom: 1rem;
		overflow-x: auto;
		padding: 0;

		code.torchlight {
			display: block;
			min-width: -webkit-max-content;
			min-width: -moz-max-content;
			min-width: max-content;
			padding-top: 1rem;
			padding-bottom: 1rem;

			.line {
				padding-left: 1rem;
				padding-right: 1rem;
			}

			.line-number,
			.summary-caret {
				margin-right: 1rem;
			}
		}
	}
}

/**
* Styles for Accessibility
*/

// Skip to main content button
// Implementation based on https://accessibility.oit.ncsu.edu/it-accessibility-at-nc-state/developers/accessibility-handbook/mouse-and-keyboard-events/skip-to-main-content/
// And complies with https://www.w3.org/TR/WCAG20-TECHS/G1.html
#skip-to-content {
	left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
	&:focus, &:active {
		color: #fff;
		background-color:#000;
		left: auto;
		top: auto;
		width: 30%;
		height: auto;
		overflow:auto;
		margin: 10px 35%;
		padding:5px;
		border-radius: 15px;
		border:4px solid yellow;
		text-align:center;
		font-size:1.2em;
		z-index:999;
	}
}