/vendor
/node_modules
/builds
/.run
/.idea
/.vscode
/.vagrant
/.cache
.phpunit.result.cache

.env


# PATHS EXCLUDED FROM CONFIGURATION TEMPLATE
/_site
/_media/app.css
/.github
/packages
/tests
/build
/storage
/app
/resources
.env.example
.gitattributes
.styleci.yml
CHANGELOG.md
composer.json
composer.lock
hyde
LICENSE.md
package-lock.json
package.json
phpunit.xml.dist
SECURITY.md
tailwind.config.js
webpack.mix.js
config/app.php
config/cache.php
config/commands.php
config/docs.php
config/markdown.php
config/torchlight.php
config/view.php

/_pages/404.blade.php
/_pages/index.blade.php

/bootstrap
