/vendor
/node_modules
/builds
/.run
/.idea
/.vscode
/.vagrant
/.cache
.phpunit.result.cache

.env

# /_site


# Monorepo Rules

!/.idea
/rocket
build/cache

/tests/fixtures/example-sites/*/vendor
/tests/fixtures/example-sites/*/storage
/tests/fixtures/example-sites/*/_site
/tests/fixtures/example-sites/*/*.lock
