/vendor
/node_modules
/builds
/.run
/.idea
/.vscode
/.vagrant
/.cache
.phpunit.result.cache

.env

# /_site

# Monorepo Rules

.DS_Store

!/.idea

/tests/fixtures/example-sites/*/vendor
/tests/fixtures/example-sites/*/storage
/tests/fixtures/example-sites/*/_site
/tests/fixtures/example-sites/*/*.lock
.idea/php-test-framework.xml # Temporary patch, see https://youtrack.jetbrains.com/issue/WI-76125/PhpStorm-has-started-to-add-an-undesired-line-to-.idea-php-test-framework.xml-when-running-Pest-PHPUnit-tests
