/vendor
/node_modules
/builds
/.run
/.idea
/.vscode
/.vagrant
/.cache
.phpunit.result.cache

.env

# /_site


# Monorepo Rules

!/.idea
/rocket
build/cache

# Temporary

packages/framework/src/tree.txt
