* text eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

phpunit.xml.dist export-ignore
.styleci.yml export-ignore
.scrutinizer.yml export-ignore
BACKERS.md export-ignore
CONTRIBUTING.md export-ignore
CHANGELOG.md export-ignore
RELEASE_NOTES.md export-ignore

/.github export-ignore
/tests export-ignore
/packages export-ignore
/projects export-ignore

package-lock.json export-ignore
composer.lock export-ignore

build export-ignore
docs export-ignore

app/Commands export-ignore
app/Monorepo export-ignore
