.dark {
	#hyde-docs {
		color: white;
		#sidebar {
			background-color: #1F2937;
			color: whitesmoke;
			#sidebar-navigation {
				border-top: #1B2533 1px solid;
				border-bottom: #1B2533 1px solid;

				#sidebar-navigation-menu {
					.sidebar-navigation-item {
						>a{
							&:hover {
								background-color: #1B2533;
							}
						}

						&.active {
							background-color: rgba(0, 0, 0, 0.1);
							>a {
								// Lighten to improve contrast for accessibility
								color: #818cf8;
								font-weight: 500;
							}
						}
					}
				}

				.table-of-contents a:hover {
					background-color: rgba(0, 0, 0, 0.1);
				}
			}
		}

		#content {
			background-color: #111827;
			;
		}

		#page-footer {
			background-color: invert($color: whitesmoke);
		}

		&.js-enabled {
			@media (max-width: 767px) {
				#content {	
					background-color: #111827;
					&.sidebar-active {
						background: #111827;
					}
				}
			}
			#mobile-navigation {
				background-color: #1F2937;
				#sidebar-toggle span.icon-bar {
					background-color: invert($color: #000);
					height: 2px;
				}
			}
		} 
	}
	#sidebar-backdrop {
		background: rgba(0, 0, 0, 0.5);
	}	
		
	#sidebar-footer > p > a {
		opacity: 0.75;
		transition: opacity 0.2s ease-in-out;
		&:hover, &:focus {
			opacity: 1;
		}
	}
}

.theme-toggle-button {
	opacity: 0.75;
	transition: opacity 0.2s ease-in-out;
	&:hover, &:focus {
		opacity: 1;
	}
}
