/**
* Opinionated Stylesheets for the HydeSearch plugin for Hyde Documentation sites
* May be moved into a separate file in the future, so it is only
* loaded when the plugin is enabled, allowing deferred loading.
* @deprecated
*/

#hyde-docs {

	#searchMenuButton,
	#searchMenuButtonMobile {
		display: none;
	}

	&.js-enabled {

		#searchMenuButton,
		#searchMenuButtonMobile {
			display: inherit;
		}

		#searchMenu {
			padding: 16px;
			max-width: 90vw;
			width: 70ch;
			min-height: 300px;
			margin-top: 10vh;
			border-radius: 8px;
			z-index: 250;
			max-height: 75vh;
			overflow-y: hidden;

			input {
				width: 100%;
				padding: 8px 12px;
				border-radius: 4px;
				font-size: 1rem;
				line-height: 1.5;
				background-color: #fff;
			}

			footer {
				font-family: monospace;
				margin-top: auto;
				margin-bottom: -0.5rem;
				line-height: 1rem;
				text-align: center;
			}
		}

		#search-results {
			max-height: 60vh;
			overflow-y: auto;
			margin-top: 1.25em;
		}

		#search-status {
			margin-top: 0;
		}

		#searchMenuBackdrop {
			background-color: rgba(0, 0, 0, 0.5);
			z-index: 100;
		}

		#searchMenuCloseButton {
			position: fixed;
			top: 1rem;
			right: 0;
			z-index: 150;
			opacity: 0.75;
			margin-right: 1rem;

			&:hover {
				opacity: 1;
			}
		}

		#searchMenuButton {
			position: absolute;
			top: 1rem;
			right: 1rem;
			z-index: 150;
			opacity: 0.75;
			margin-right: 1rem;

			svg {
				float: left;
				margin-right: 4px;
			}
		}

		#searchMenuButtonMobile {
			display: none;
		}

		#search-input {
			font-size: 16px;
			line-height: 1.5;
			padding: 6px 10px;
			background-color: #eee;
			color: #000
		}

		.hyde-search-context {
			margin-bottom: 10px;
		}

		@media screen and (max-width: 400px) {
			#searchMenu {
				footer {
					display: none;
				}
			}
		}

		@media (max-width: 767px) {
			#searchMenuButton {
				display: none;
			}

			#searchMenuButtonMobile {
				display: block;
				position: fixed;
				bottom: 1rem;
				right: 1rem;
				z-index: 50;
				background: #ddd;
				fill: #000;
				border-radius: 50%;
				padding: 0.5rem;
				opacity: 0.75;

				&:hover {
					opacity: 1;
				}
			}
		}

	}

}

.dark #hyde-docs.js-enabled {
	#searchMenu {
		input {
			background-color: #374151;
			color: #fff;
		}
	}

	#searchMenuButton {
		svg {
			fill: white;
		}
	}

	#searchMenuButtonMobile {
		background: #374151;
		fill: #ddd;
	}

	#search-input {
		background-color: #333;
		color: #fff;
	}

	.hyde-search-context mark.search-highlight {
		background-color: rgba(255, 255, 0, 0.75);
	}
}