.prose blockquote {
	&.info {
		border-color: DodgerBlue;
	}
		
	&.success {
		border-color: MediumSeaGreen;
	}

	&.warning {
		border-color: orange;
	}
	
	&.danger {
		border-color: red;
	}
}

pre>code>.filepath {
    position: relative;
    top: -.25rem;
    right: 0.25rem;
    float: right;
    opacity: .5;
    transition: opacity 0.25s;

	&:hover {
		opacity: 1;
	}
}

.torchlight-enabled pre>code>.filepath {
    right: 1rem;
}

@media screen and (max-width: 767px) {
	pre>code>.filepath {
		display: none;
	}
}

// Table of Contents
.table-of-contents {
	padding-bottom: 0.75rem;
}

.table-of-contents>li {
	margin-top: 0.15rem;
	margin-bottom: 0.35rem;
}

.table-of-contents ul {
	padding-left: 0.5rem;
}

.table-of-contents a {
	display: block;
	padding-left: 2rem;
	margin-left: -2rem;
	opacity: 0.825;
}

.table-of-contents a::before {
	content: "#";
	font-size: 75%;
	opacity: 0.5;
	margin-right: 4px;
	transition: opacity 0.3s ease-in-out;
}

.table-of-contents a:hover {
	opacity: 1;
	transition: opacity, background 0.3s ease-in-out;
	background-color: rgba(221, 221, 221, 0.5);
}

.dark .table-of-contents a:hover {
	background-color: rgba(0,0,0,.1);
}

.table-of-contents a:hover::before {
	opacity: 1;
}
// Heading Permalinks

#hyde-docs {
	.prose {
		h1,h2,h3,h4,h5,h6 {
			width: fit-content;
			&:hover, &:focus {
				.heading-permalink {
					opacity: 0.75;
					filter: grayscale(100%);
					transition: opacity 0.1s ease-out;
				}
			}
			.heading-permalink {
				opacity: 0;
				&:hover, &:focus {
					opacity: 1;
					filter: unset;
				}
				margin-left: 0.25rem;
				transition: opacity 0.3s ease;
				padding: 0 0.25rem;
			}
		}
	}
}