/*
* This file is loaded into your Hyde/Hyde installation and is used to generate the TailwindCSS for your project. 
* You can use this file to customize your TailwindCSS or to add new classes.
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none !important; }


/* // Hyde Docs Styles */

html {
	scroll-behavior: smooth;
}

.heading-permalink { scroll-margin: 1rem; }

.hyde-search-context {
	margin-bottom: 10px;
}

.hyde-search-results {
	max-height: 60vh;
	overflow-y: auto;
	margin-top: 1.25em;
}

#search-status {
	margin-top: 0;
}


/* // Hamburger menu icon based on Google Material Design Icons, SVG converted to HTML. */
#sidebar-toggle {
	position: relative;
	display: inline-block;
	width: 2rem;
	height: 2rem;
}

#sidebar-toggle span.icon-bar {
	display: block;
	width: 20px;
	height: 2.375px;
	background-color: black;
	position: absolute;
	left: 5.5px;
	transition: all 0.3s ease-out;
}

#sidebar-toggle span.icon-bar:first-child {
	top: 9px;
}

#sidebar-toggle span.icon-bar:nth-child(2),
#sidebar-toggle span.icon-bar:nth-child(3) {
	top: calc(9px + 6px);
	transform-origin: center;
}

#sidebar-toggle span.icon-bar:last-child {
	top: calc(9px + 12px);
}

#sidebar-toggle.active span.icon-bar:first-child {
	opacity: 0;
}

#sidebar-toggle.active span.icon-bar:nth-child(2) {
	transform: rotate(45deg);
}

#sidebar-toggle.active span.icon-bar:nth-child(3) {
	transform: rotate(-45deg);
}

#sidebar-toggle.active span.icon-bar:last-child {
	opacity: 0;
}

.dark #sidebar-toggle span.icon-bar {
	background-color: #fff;
	height: 2px;
}


/* TOC and permalinks */

#hyde-docs .prose h1,
#hyde-docs .prose h2,
#hyde-docs .prose h3,
#hyde-docs .prose h4,
#hyde-docs .prose h5,
#hyde-docs .prose h6 {
	width: fit-content;
}

#hyde-docs .prose h1:hover .heading-permalink,
#hyde-docs .prose h1:focus .heading-permalink,
#hyde-docs .prose h2:hover .heading-permalink,
#hyde-docs .prose h2:focus .heading-permalink,
#hyde-docs .prose h3:hover .heading-permalink,
#hyde-docs .prose h3:focus .heading-permalink,
#hyde-docs .prose h4:hover .heading-permalink,
#hyde-docs .prose h4:focus .heading-permalink,
#hyde-docs .prose h5:hover .heading-permalink,
#hyde-docs .prose h5:focus .heading-permalink,
#hyde-docs .prose h6:hover .heading-permalink,
#hyde-docs .prose h6:focus .heading-permalink {
	opacity: 0.75;
	filter: grayscale(100%);
	transition: opacity 0.1s ease-out;
}

#hyde-docs .prose h1 .heading-permalink,
#hyde-docs .prose h2 .heading-permalink,
#hyde-docs .prose h3 .heading-permalink,
#hyde-docs .prose h4 .heading-permalink,
#hyde-docs .prose h5 .heading-permalink,
#hyde-docs .prose h6 .heading-permalink {
	opacity: 0;
	margin-left: 0.25rem;
	transition: opacity 0.3s ease;
	padding: 0 0.25rem;
}

#hyde-docs .prose h1 .heading-permalink:hover,
#hyde-docs .prose h1 .heading-permalink:focus,
#hyde-docs .prose h2 .heading-permalink:hover,
#hyde-docs .prose h2 .heading-permalink:focus,
#hyde-docs .prose h3 .heading-permalink:hover,
#hyde-docs .prose h3 .heading-permalink:focus,
#hyde-docs .prose h4 .heading-permalink:hover,
#hyde-docs .prose h4 .heading-permalink:focus,
#hyde-docs .prose h5 .heading-permalink:hover,
#hyde-docs .prose h5 .heading-permalink:focus,
#hyde-docs .prose h6 .heading-permalink:hover,
#hyde-docs .prose h6 .heading-permalink:focus {
	opacity: 1;
	filter: unset;
}

.table-of-contents {
	padding-bottom: 0.75rem;
}

.table-of-contents>li {
	margin-top: 0.15rem;
	margin-bottom: 0.35rem;
}

.table-of-contents ul {
	padding-left: 0.5rem;
}

.table-of-contents a {
	display: block;
	padding-left: 2rem;
	margin-left: -2rem;
	opacity: 0.825;
}

.table-of-contents a::before {
	content: "#";
	font-size: 75%;
	opacity: 0.5;
	margin-right: 4px;
	transition: opacity 0.3s ease-in-out;
}

.table-of-contents a:hover {
	opacity: 1;
	transition: opacity, background 0.3s ease-in-out;
	background-color: rgba(221, 221, 221, 0.5);
}

.dark .table-of-contents a:hover {
	background-color: rgba(0, 0, 0, .1);
}

.table-of-contents a:hover::before {
	opacity: 1;
}

/* Markdown Features */

.prose blockquote.info {
	@apply border-blue-500;
}

.prose blockquote.success {
	@apply border-green-500;
}

.prose blockquote.warning {
	@apply border-amber-500;
}

.prose blockquote.danger {
	@apply border-red-600;
}


code {
	max-width: 80vw;
	overflow-x: auto;
	display: inline-block;
	vertical-align: top;
}

pre code {
	display: block;
	max-width: unset;
}


pre>code>.filepath {
    position: relative;
    top: -.25rem;
    right: 0.25rem;
    float: right;
    opacity: .5;
    transition: opacity 0.25s;
}
pre>code>.filepath:hover {
	opacity: 1;
}

.torchlight-enabled pre>code>.filepath {
    right: 1rem;
}

@media screen and (max-width: 767px) {
	pre>code>.filepath {
		display: none;
	}
}

/**
 * Styles for Torchlight
 *
 * Uses the styles from https://torchlight.dev/docs/css
 *
 * The .torchlight-enabled class is to not interfere
 * with any pages or sites not using Torchlight.
 */


/*
 Margin and rounding are personal preferences,
 overflow-x-auto is recommended.
*/
.torchlight-enabled pre {
	@apply my-4 rounded overflow-x-auto p-0;
}

/*
 Add some vertical padding and expand the width
 to fill its container. The horizontal padding
 comes at the line level so that background
 colors extend edge to edge.
*/
.torchlight-enabled pre code.torchlight {
	@apply block py-4 min-w-max;
}

/*
 Horizontal line padding.
*/
.torchlight-enabled pre code.torchlight .line {
	@apply px-4;
}

/*
 Push the code away from the line numbers and
 summary caret indicators.
*/
.torchlight-enabled pre code.torchlight .line-number,
.torchlight-enabled pre code.torchlight .summary-caret {
	@apply mr-4;
}