// Opinionated styles

code {
	max-width: 80vw;
	overflow-x: auto;
	vertical-align: top;
	word-break: break-all;
}

pre code {
	display: block;
	max-width: unset;
}

// Filepath labels

pre>code>.filepath {
	position: relative;
	top: -.25rem;
	right: 0.25rem;
	float: right;
	opacity: .5;
	transition: opacity 0.25s;

	&:hover {
		opacity: 1;
	}
}

.torchlight-enabled pre>code>.filepath {
	right: 1rem;
}

// Hide it on small screens as it tends to overlay the actual code
@media screen and (max-width: 767px) {
	pre>code>.filepath {
		display: none;
	}
}
