/**
 * Base styles for Torchlight.
 * 
 * You can also import the extended styles in `extended.css` to support advanced features like collapsing.
 */

pre code.torchlight .line-number, pre code.torchlight .summary-caret {
    @apply mr-4;
}

.prose .torchlight-link, .torchlight-link {
    @apply underline;
}

.torchlight.has-focus-lines .line:not(.line-focus) {
    transition: filter 0.35s, opacity 0.35s;
    filter: blur(.095rem);
    opacity: .65;
}
 
.torchlight.has-focus-lines:hover .line:not(.line-focus) {
    filter: blur(0px);
    @apply opacity-100;
}
